[submodule "src/themes/smol"]
	path = src/themes/smol
	url = https://github.com/colorchestra/smol
[submodule "src/themes/Binario"]
	path = src/themes/Binario
	url = https://github.com/Vimux/Binario.git
